<p>Bonjour <%= @user.first_name %>, Bienvenue sur le Tapas de Copas !</p>

<p>Tapas remplace Decidim.</p>
<p>La plateforme regroupe aujourd'hui les AO partagés par Dorothée. Avec Tapas, vous pouvez :</p>
<ul>
  <li>Voir l'ensemble des ao en cours. Ils sont classés par ordre décroissant, avec un rapide descriptif [nom du client, intitulé de la mission, date limite]</li>
  <li>Télécharger les dossiers de consultations</li>
  <li>Ajouter en favori les ao intéressants</li>
  <li>Partager son  positionnement</li>
  <li>Laisser un commentaire</li>
</ul>

<p>Pour faciliter la veille, vous recevrez à chaque ajout d'un appel d'offres, un message directement dans la boite email.</p>

<p>La plateforme pourra s'enrichir de nouvelles fonctionnalités au fil du temps et en fonction des besoins et remarques partagés.</p>

<p>Bref, le souhait est de Tapas devient LA plateforme de Copas !</p>

<p>Pour accéder à la plateforme : <%= link_to "link", new_user_session_url %></p>

