<p>Bonjour <%= @user.first_name %>, Bienvenue sur le Tapas de Copas !</p>

<p>Tapas remplace Decidim.</p>
<p>La plateforme regroupe aujourd'hui l'ensemble des AO partagé par Dorothée. Avec Tapas, tu peux :</p>
<ul>
  <li>Voir l'ensemble des ao, classés par ordre décroissant, avec un rapide descriptif [nom du client, intitulé de la mission,date limite]</li>
  <li>Télécharger les dossiers de consultations</li>
  <li>Ajouter en favori les ao qui t'intéresse</li>
</ul>

<p>Pour faciliter la veille, tu recevras à chaque ajout d'un appel d'offre, un message directement dans ta boite email.</p>

<p>La plateforme va s'enrichir de nouvelles fonctionnalités au fil du temps et en fonction des besoins et remarques partagés avec les collègues.</p>
<p>Je pense par exemple :</p>
<ol>
  <li>A la possibilité d'ajouter un commentaire sur chaque appel d'offres </li>
  <li>Ajouter un système facilitant le positionnement de chacun. Par un système de cases à cocher : Je réponds; je souhaite faire partie de l'équipe; Je peux participer à l'écriture de la proposition; je souhaite être responsable de mission, Pas pour Copas, etc.]</li>
</ol>
<p>Mais également, ajouter des fonctionnalités qui ne concerne pas directement la veille des appels d'offres. Tapas deviendrait un outil central de la gestion de Copas :</p>
<ul>
  <li>Une bibliothèque par terrain pour partager props, rapports,etc</li>
  <li>Une bibliothèque des documents administratifs pour préparer les réponses</li>
  <li>etc.</li>
</ul>

<p>Bref, le souhait est de Tapas devient LA plateforme de Copas !</p>

<p>Pour accéder à la plateforme : <%= link_to "link", new_user_session_url %></p>

