.banner {
  display: flex;
  background-size: cover;
  height: calc(100vh - 70px);
  background-position: center;
  padding: 150px 0;
}

.banner h1 {
  // font-family: Merriweather;
  margin: 0;
  color: #06111c;
  font-size: 70px;
  line-height: 96px;
  margin-bottom: 20px;
}

.banner p {
  font-size: 20px;
  color: #06111c;
  opacity: .7;
}

.banner h1 span {
  box-shadow: inset 10px -10px white, inset 1px -35px rgba(5,122,255,0.6);
}

// blue : rgba(5,122,255,0.8)
// yellow :rgba(255,231,15,0.8)

.container {
  flex: 1 1 auto;
}

.banner-img {
  flex: 1 1 auto;
  height: 100%;
}


