.edit_post h1 {
  // font-family: Merriweather;
  margin: 0;
  color: #06111c;
  font-size: 70px;
  line-height: 96px;
  margin-bottom: 20px;
}

.edit_post h1 span {
  box-shadow: inset 10px -10px #F9F9F9, inset 1px -35px rgba(249,190,51,0.8);
}
