.show_intro {
  display: flex;
}

.show_description {
  flex-direction: row;
  flex-basis: 80%;
  border-radius: 5px;
  margin: 5px;
  padding: 10px;
  box-shadow: 0 0 3px rgba(0,0,0,0.2);
  background-color: white;
  h2 {
    font-size: 18px;
  }
  h2:first-child {
    font-weight: bold;
  }
}

.show_favorite{
  display: inline-block;
}

.show_title{
  display: inline-block;
  font-size: 18px;
  font-weight: bold;
}

.show_date {
  flex-direction: row;
  border-radius: 5px;
  display: flex;
  margin: 5px;
  box-shadow: 0 0 3px rgba(0,0,0,0.2);
  background-color: white;
}

.show_comment {
  flex-direction: row;
  border-radius: 5px;
  display: flex;
  margin: 10px 5px;
  box-shadow: 0 0 3px rgba(0,0,0,0.2);
  background-color: white;
}

.show_date p {
  color: #F9CA62;
  font-weight: bold;
  margin: auto;
  text-align: center;
}

.show_text {
  border-radius: 5px;
  padding: 10px;
  margin: 5px;
  box-shadow: 0 0 3px rgba(0,0,0,0.2);
  background-color: white;
}

.btn_block_ao {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.block-positionnement {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.show_link {
  border-radius: 5px;
  margin: 10px 5px;
  padding: 10px;
  box-shadow: 0 0 3px rgba(0,0,0,0.2);
  background-color: white;
  .no-download, .fa-times-circle {
    color: grey;
    opacity: 0.8;
  }
  a {
    color: #F9CA62;
    font-weight: bold;
  }
}

.ranking-link {
  color: #F9CA62;
}

table i {
  color: grey;
}

.fa-file-download {
  color: grey;
}

.hoverable {
  position: relative;
}

.hoverable>.hoverable__tooltip {
  display: none;
}

.hoverable:hover>.hoverable__tooltip {
  display: inline;
  position: absolute;
  z-index: 1;
  font-size: 10px;
  width: 100px;
  bottom: 110%;
  left: 0;
  opacity: 75%;
  background: #888;
  border-radius: 5px;
  transition: opacity 1s ease-in-out;
}
