<% if post.photo.attached? %>
  <i class="fas fa-file-download"></i>
  <%= link_to("Télécharger le dossier", rails_blob_path(post.photo, disposition: :attachment), class: "download-link") %>
<% else %>
  <i class="far fa-times-circle"></i><span class="no-download"> Pas de dossier à télécharger</span>
<% end %>
