<div class="banner">
  <div class="container">
    <h1><span>TAPAS</span></h1>
    <h1>Tableau des appels à <span>propositions</span> <span>adaptées</span> et <span>sophistiquées</span></h1>
    <%= render 'nav' %>
  </div>
  <%= image_tag ("banner-img.svg"), class: "banner-img d-none d-lg-block" %>
</div>
