<div class="wrapper">
  <div class="container list-posts">
    <h1><span>Mes favoris</span></h1>
    <% if @posts.blank? %>
      <div class="text-center">
        <%= image_tag ("empty.svg"), class:"empty-img"%>
      </div>
    <% end %>
    <div class="cards">
      <%= render @posts %>
    </div>
  </div>
</div>
