<div class="wrapper">
  <div class="container list-posts">
    <h1><span>Mes favoris</span></h1>
    <% if @posts.blank? %>
      <div class="text-center">
        <i class="fas fa-exclamation-circle fa-2x"></i>
        <i class="far fa-frown fa-2x"></i>
        <span> Vous n'avez pas sauvegardé d'appels d'offres </span>
        <i class="far fa-frown fa-2x"></i>
        <i class="fas fa-exclamation-circle fa-2x"></i>
      </div>
    <% end %>
    <div class="cards">
      <%= render @posts %>
    </div>
  </div>
</div>
