<% pre_like = @post.likes.find { |like| like.user_id == current_user.id} %>
<% if pre_like %>
  <span><%= link_to "Je réponds (#{@post.likes.count})", post_like_path(@post, pre_like), method: :delete, class: "" %></span>
<% else %>
  <%= link_to 'Je réponds', post_likes_path(@post), method: :post, class: "" %>
<% end %>
