<div class="card">
  <h2 class="card-title"><%= post.title %></h2>
  <p class="card-description"><%= post.description %></p>
  <p class="card-date">Date limite: <%= post.deadline %></p>
  <%= link_to "Voir l'annonce", post_path(post)%>
</div>
