<div class="col-sm-4 card border-secondary mb-3">
  <div class="card-body">
    <h2 class="card-title">Commanditaire : <%= post.title %></h2>
    <p class="card-text">Description : <%= post.description %></p>
  </div>
  <div class="card-footer bg-transparent border-dark">Date limite: <%= post.deadline %></div>
</div>
