<div class="card-ao">
  <div class="container-card">
    <p class="card-date"><%= post.deadline %></p>
    <h2 class="card-title"><%= post.title %></h2>
    <p class="card-description"><%= post.description %></p>
  </div>
  <div class="container-link">
    <%= link_to "Voir l'annonce", post_path(post), class: "card-link" %>
  </div>
</div>
