<div class="wrapper">
  <% if @posts.blank? %>
    <div class="container list-posts">
      <h1>Liste des <span>appels d'offres</span></h1>
      <%= image_tag ("empty.svg"), class:"empty-img"%>
    </div>
  <% else %>
    <div class="container list-posts">
      <h1>Liste des <span>appels d'offres</span></h1>
        <div class="cards">
          <%= render @posts %>
        </div>
    </div>
  <% end %>
</div>


