.card-ao {
  position: relative;
  box-shadow: 0 0 3px rgba(0,0,0,0.2);
  background-color: white;
  padding: 10px;
  border-radius: 10px;
}

.container-card {
}

.container-link {
  position: absolute;
  bottom: 10px;
  right: 10px;
}

.card-title {
  font-family: Lato;
  font-size: 16px;
  color: #0d0d0d;
  margin-bottom: 1.5rem;
  font-weight: bold;
}

.card-description {
  color: darken(#404040, 1%);
  margin-bottom: 2.5rem;
  font-family: Lato;
  font-size: 14px;
  font-style: italic;
}

.card-date {
  font-size: 12px;
  text-align: right;
  color: #F9CA62;
  font-weight: bold;
}

.card-link {
  text-decoration: none;
  color: #06111c;
  border-bottom: 5px solid #F9CA62;
  cursor: pointer;
}

.card-attachment {
  position: absolute;
  bottom: 10px;
  left: 10px;
  color: grey;
}

.logos_new_favorite {
  position: absolute;
  top: 10px;
  left: 10px;
  display: flex;
}

.project-new {
  color: grey;
  padding: 3px;
  margin-bottom: 5px;
}

