.navbar-lewagon {
  justify-content: space-between;
  background: #F9F9F9;
  padding-left: 50px;
  padding-right: 50px;

}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.logo_navbar {
  width: 60px !important;
}
